<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">

    <title>{% block title %}Yurovnik Maxim - portfolio site{% endblock %}</title>

    {% include 'includes/fonts.html' %}
    {% include 'includes/scripts.html' %}
    {% include 'includes/stylesheets.html' %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
